アドミントップ


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center mt-5">
      <h1>Welcome, Admin!</h1>
      <p>ここは管理者用のページです</p>
      <div class="mt-3">
        <% if admin_signed_in? %>
          <%= link_to "ユーザーの投稿一覧を見る", admin_posts_path, class: "btn btn-primary mr-3" %>
          <%= link_to "登録しているユーザー一覧を見る", admin_users_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "ログイン", new_admin_session_path, class: "btn btn-primary mr-3" %>
          <%= link_to "新規登録", new_admin_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
