<!--取得した情報によって投稿一覧のタイトルを変える-->
<h1 class="mb-4 text-center"><%= params[:user_id] ? "#{@user.nickname}さんの投稿" : "すべての投稿" %></h1>
<%= render 'admin/posts/index', posts: @posts %>
<div class="row justify-content-center">
  <%= paginate @posts %>
</div>
