<h1 class="text-center">投稿一覧（全ユーザー）</h1>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if post.images.attached? %>
          <%= image_tag post.image, class: "card-img-top", alt: "投稿画像" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
          <!--投稿内容を３０文字まで表示-->
          <p class="card-text"><%= strip_tags(post.content.to_s).truncate(30) %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>ユーザーネーム: </strong><%= link_to post.user.nickname, user_path(post.user) %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
