<div class="container">
  <h2>参加しているコミュニティ一覧</h2>
  <ul>
    <% @group_users.each do |group| %>
      <li><%= link_to group.name, group_path(group) %>
        <% if group.is_owned_by?(current_user) %>
          <p>※このコミュニティのオーナーです</p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
