@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Zen+Maru+Gothic&display=swap');

html, body {
  font-family: "Zen Maru Gothic", cursive !important;
  line-height: 2;
}

.logo {
  font-family: "Cherry Bomb One", system-ui !important;
}


.swiper-slide img {
  max-width: 100%; /* 画像が親要素に収まるようにする */
  max-height: 100%; /* 画像が親要素に収まるようにする */
  width: 100%; /* 幅を自動調整 */
  height: 500px; /* 高さを自動調整 */
}
