<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10">
      <p>
        このサイトは『ペットが主役』コミュニティアプリです。ペットの種類は問いません。<br>
        何気ない日々の様子や、見てもらいたい。相談したい。など、飼い主様の用途でご利用ください。<br>
        <strong>不適切な投稿や誹謗中傷的な投稿・コメント</strong>はお控えいただきますようよろしくお願いいたします。<br>
        場合によっては投稿の削除や、アカウントを停止させていただくこともございますので、あらかじめご了承ください。
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10">
      <h3><strong>主な利用方法</strong></h3>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ１：</strong>アプリに登録しよう！</h4>
      <p>・利用するためにニックネーム・メールアドレス・パスワードを入力して新規登録でアカウント作りましょう！</p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ２：</strong>マイページでプロフィール画像や自己紹介、ペットの登録をしよう！</h4>
      <p>・マイページからプロフィールの編集や、飼っているペットの登録をしましょう！</p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ３：</strong>投稿しよう！</h4>
      <p>
        ・アカウントの新規作成・ログイン後にページ上部にある「投稿」から投稿ができます！<br>
        ・投稿の際に画像を挿入や関連するタグを付けたり、太文字や斜体にすることもできます！
      </p>
      <div>
        <%= image_tag asset_path('sample2.png'), alt: '', size: '600x500' %>
      </div>
      <div>
        <%= image_tag asset_path('sample1.png'), alt: '', size: '600x500' %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ４：</strong>他の人の投稿にいいねやコメントをしてみよう！</h4>
      <p>・ページ上部にある「投稿」からみんなの投稿を見て、いいねやコメントをしてみましょう！</p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ５：</strong>他の人をフォローしよう！</h4>
      <p>・他の人のマイページやみんなの投稿ページからフォローして、繋がりを広げてみましょう！</p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ６：</strong>コミュニティを作ってみよう！</h4>
      <p>
        ・ページ上部にある「コミュニティ」からコミュニティの一覧を見たり、コミュニティに参加、新規作成ができます！<br>
        また、コミュニティに参加すると参加している人同士でチャットすることができます！
      </p>
    </div>
  </div>
  
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h4><strong>ステップ７：</strong>検索してみよう！</h4>
      <p>
        ・ページ上部にある検索フォームからキーワードを入力して検索してみましょう！（ユーザーと投稿の検索ができます）<br>
        また、みんなの投稿ページからは「タグの絞り込み検索」ができます！
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-12 col-md-10">
      <h3>それでは、お楽しみください♪</h3>
    </div>
  </div>
</div>
