<div class="container">
  <div class="row justify-content-center mt-5">
    <p>このサイトは『ペットが主役』コミュニティアプリです。ペットの種類は問いません。</br>
       何気ない日々の様子や、見てもらいたい。相談したい。など、飼い主様の用途でご利用ください。</br>
       <b>不適切な投稿や誹謗中傷的な投稿・コメント</b>はお控えいただきますようよろしくお願いいたします。</br>
       場合によっては投稿の削除や、アカウントを停止させていただくこともございますので、あらかじめご了承ください。
    </p>
  </div>
  <div class="row mt-5">
    <div class="col-2 offset-1">
      <h4><strong>主な利用方法</strong></h4>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <p>・このサイトでは、投稿の際に写真も添付の上投稿することができます。</br>
       ・また、各投稿にいいねをしたり、コメントを残したりすることもでき、ユーザーをフォローすることもできます。</br>
       ・コミュニティを作成したい場合は、コミュニティ一覧からコミュニティの作成をすることができます。</br>
       ・コミュニティチャットでは、同じコミュニティのユーザー同士でチャットができます。</br>
       ・最後にルールを守って楽しく盛り上がりましょう！
    </p>
  </div>
  <div class="row justify-content-center mt-3">
    <h3>それでは、お楽しみください♪</h3>
  </div>
</div>