<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
    </div>
    <p>このサイトは『ペットが主役』コミュニティアプリです。ペットの種類は問いません。</br>
       何気ない日々の様子や、見てもらいたい。相談したい。など、飼い主様の用途でご利用ください。</br>
       <b>不適切な投稿や誹謗中傷的な投稿・コメント</b>はお控えいただきますようよろしくお願いいたします。</br>
       場合によっては投稿の削除や、アカウントを停止させていただくこともございますので、あらかじめご了承ください。
    </p>
    </div>
  </div>
</div>