/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{

}

.style{
  height: 100%;
}

footer{
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

.tall-text-area{
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}

figure.attachment img {
  width: 100px;
  height: 100px;
}

#intro-short {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

#show-full-intro-link {
  display: none; /* 最初は非表示 */
}

#intro-short:hover {
  white-space: normal; /* hover時に全てのテキストを表示 */
}

#intro-short:hover + #show-full-intro-link {
  display: inline; /* hover時に「続きを見る」リンクを表示 */
}
